.card {
  background-color: $white;
  border-radius: 22px;
}

.card-title {
  color: $white;
  background-color: $dark-blue;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  height: 55px;
  font-weight: 300;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-content-first {
  padding: 0 20px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.card-content-second {
  padding: 45px 20px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  // background-color: red;
}
