.check-tense {
  margin: 10px 0;
  padding: 7px;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
}

.check-tense label {
  font-size: 22px;
  transform: translateY(1px);
}
