.check-tense span {
  font-family: "FontAwesome";
  font-size: 22px;
}

.check-tense {
  margin: 10px 0;
  padding: 7px;
  display: flex;
  justify-content: left;
  align-content: baseline;
  gap: 10px;
}
