.code-defi {
  background-color: $dark-blue;
  color: $white;
  padding: 20px 0;
  width: 100%;
  border-radius: 22px;
  flex-direction: row;
  text-align: left;
}

.code-defi input {
  width: 110px;
  background-color: $dark-blue;
  border: none;
}

.code-defi::placeholder {
  color: $white;
}

.code-defi span {
  text-transform: uppercase;
  color: $high-blue;
  font-size: 12px;
}
