.nav-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 300;
}

.nav-top {
  color: $white;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
}

.nav-top span.capital {
  font-family: Inter, sans-serif;
  text-transform: uppercase;
}

.nav-top-menus {
  position: absolute;
  background-color: $white;
  color: $dark-blue;
  width: 246px;
}
