.nav-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 300;
}

.nav-top {
  color: $white;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
}

.nav-top span.capital {
  font-family: Inter, sans-serif;
  text-transform: uppercase;
}

.nav-top-menu-button {
  cursor: pointer;
  transition: background-color 0.4s;
}

.nav-top-menus {
  position: absolute;
  top: 48px;
  left: 557px;
  padding: 13px 6px 17px;
  border-radius: 8px;
  border: 2px solid $blue;
  background-color: $white;
  color: $dark-blue;
  width: 246px;
  opacity: 0;
  transition: background-color 0.4s;
}

.nav-top-menu-title {
  display: flex;
  justify-content: space-between;
  background-color: rgba($blue, 0.1);
  color: $blue;
  font-weight: 500;
  padding: 11px 20px;
  border-radius: 8px;
}

.nav-top-menu-title h2 {
  color: $dark-blue;
  font-weight: 600;
}

.nav-top-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 15px 20px 0;
  gap: 12px;
}

.nav-top-menu-button.is-active {
  color: $blue;
}

.nav-top-menus.is-open {
  opacity: 1;
}
