.number-field input::-webkit-outer-spin-button,
.number-field input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.number-field {
  background-color: rgba($blue, 0.1);
  padding: 26px 60px 18px;
  border-radius: 22px;
  font-size: 14px;
}

.number-field label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: "FontAwesome";
}

.number-field input {
  text-align: center;
  font-family: Inter;
  font-size: 25px;
  font-weight: 700;
  border: 0;
  max-width: 40px;
}

.number-field input::placeholder {
  color: $dark-blue;
  background-color: rgba($blue, 0.1);
}
