/* ====================================
// css variables
// ==================================== */

:root {
  --dark-blue: #2f2873;
  --blue: #009fe3;
  --light-blue: rgba(0, 159, 227, 0.3);
  --white: #f7fdff;
  --red: #ff0000;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

body {
  color: var(--dark-blue);
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

header {
  background-color: var(--dark-blue);
}
